@font-face {
  font-family: "televideo";
  src: url("fonts/televideo.regular.woff");
}

:root {
  --text-color: black;
  --button-color: palegreen;
  --button-focus: rgb(0, 255, 42);
  --border: 1px solid var(--text-color);
  --header-font: "televideo";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--header-font);
}

body {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 10px;
  width: 95%;
  margin: 0 auto;
}

header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px;
  border: var(--border);
  background-color: var(--button-color);
  cursor: pointer;
}

button:focus {
  background-color: var(--button-focus);
}

.game-board {
  /* display: flex;
  gap: 5px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  justify-content: center;
  gap: 5px;
}

.player {
  border: var(--border);
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  text-align: left;
  width: 150px;
}

.player:focus {
  background-color: gold;
}

.player ol {
  list-style-type: lower-roman;
}
